<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>File Management</title>
    <style>
        .app-title {
            margin: auto;
            font-weight: 900;
        }

        .nav-bar {
            background-color: oldlace;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;
            border: 1px solid darkgray;
        }

        .browse-box {
            display: flex;
            flex-direction: row;
        }

        .setting-container {
            background-color: oldlace;
            position: absolute;
            top: 20rem;
            left: 20rem;
            padding: 2rem 3rem;
            border: 1px solid darkgray;
            display: none;
        }

        .btn-success {
            margin-top: 1rem;
        }

        .pagination {
            display: flex;
            justify-content: flex-end;
        }

        .form-upload {
            display: flex;
            align-items: center;
        }

        .table-container {
            padding: 1rem 3rem;
            border: 1px solid #ddd;
        }

        .table {
            margin-bottom: 0;
        }

        .jumbotron {
            margin-bottom: 0px;
            border-radius: 0 !important;
            padding: 30px 3rem !important;
            background-color: mediumpurple;
        }

        .col-action {
            display: flex !important;
            justify-content: space-evenly !important;
        }

        .form-labelAUT {
            display: block;
        }

        .btn-submit-setting {
            width: 100%;
        }
    </style>
</head>

<body class="container">
    <div class="jumbotron">
        <h1 class="display-4">File Management</h1>
    </div>
    <div class="box">
        <div class="nav-bar">
            <button type="button" class="btn btn-primary" onclick="myFunction()">
                Setting
            </button>
            <form class="setting-container" id="setting-form" class="form-upload" action="/update_settings" method="POST">
                <div class="mb-3">
                    <label for="maxFileSize" class="form-label">Max file size(MB)</label>
                    <input type="number" class="form-control" id="maxFileSize"
                        placeholder="Enter a number" name="maxFileSize" value="5">
                </div>
                <div class="mb-3">
                    <label for="itemPerPage" class="form-label">Item per page</label>
                    <input type="number" class="form-control" id="itemPerPage" name="itemPerPage" value="3"
                        placeholder="Enter a number">
                </div>

                <div class="mb-3">
                    <label for="allowedUploadType" class="form-labelAUT">Allowed upload type</label>
                    <select class="form-select form-select-lg mb-3" id="allowedUploadType" name="allowedUploadType"
                        style="width:200px; height: 35px">
                        <option selected>image/png</option>
                        <option value="image/jpeg">image/jpeg</option>
                        <option value="application/vnd.openxmlformats-officedocument.wordprocessingml.document">application/vnd.openxmlformats-officedocument.wordprocessingml.document
                        </option>
                        <option value="application/pdf">application/pdf</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-submit-setting">Save</button>
            </form>

            <form class="form-upload" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" class="form-upload-input" id="file" name="file" required>
                <input type="submit" class="btn btn-primary" value="Upload">
            </form>
        </div>

        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>File Name</th>
                        <th>Version</th>
                        <th>File Size</th>
                        <th>Created Time</th>
                        <th>Download</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#files}}
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td>{{ name }}</td>
                        <td>{{ version }}</td>
                        <td>{{ fileSize }}</td>
                        <td>{{ createdDateTime }}</td>
                        <td>{{ numberOfDownload }}</td>
                        <td class="col-action">
                            <a href="/download?fileId={{ id }}">
                                <button type="button" class="btn btn-light">Download</button>
                            </a>
                            <a href="/delete?fileId={{ id }}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {{/files}}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            {{!-- <p>Page {{pageNumber}} of {{totalPages}}</p> --}}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#pages}}
                        <li class="page-item
                        {{#if active}}
                            active
                        {{/if}}"><a class="page-link" href="{{ url }}">{{ index }}</a></li>
                    {{/pages}}
                </ul>
            </nav>
        </div>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("setting-form");
            x.style.display = x.style.display === "block" ? "none" : "block";
        }
    </script>
</body>

</html>