<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        .app-title {
            margin: auto;
            font-weight: 900;
        }
        .nav-bar {
            background-color: oldlace;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;
            border: 1px solid darkgray;
        }
        .browse-box {
            display: flex;
            flex-direction: row;
        }
        .setting-container {
          
            background-color: blanchedalmond;
            position: absolute;
            top: 8rem;
            left: 23rem;
            padding: 2rem;
            border: 1px solid black;
            margin-left: -2px;
            border-radius: 2px;
        }
        .btn-success {
            margin-top: 1rem;
        }

        .pagination {
            display: flex;
            justify-content: flex-end;
        }

        .form-upload {
            display: flex;
            align-items: center;
        }

        .table-container {
            padding: 1rem 3rem;
            border: 1px solid #ddd;
        }

        .table {
            margin-bottom: 0;
        }

        .jumbotron {
            margin-bottom: 0px;
            border-radius: 0 !important;
            padding: 30px 3rem !important;
            background-color: mediumpurple;
        }

        .col-action {
            display: flex !important;
            justify-content: space-evenly !important;
        }
    </style>
</head>

<body class="container">
    <div class="jumbotron">
        <h1 class="display-4">File Management</h1>
    </div>
    <div class="box">
        <div class="nav-bar">
            <button>Setting</button>
            <div class="setting-container">
                <div id="myDropdown" class="dropdown-content">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Max file size(MB)</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Example input placeholder">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Item per page</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                            placeholder="Another input placeholder">
                    </div>

                     <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Allowed upload type</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2"
                            placeholder="Another input placeholder">
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>

            <form class="form-upload" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" class="form-upload-input" id="file" name="file">
                <input type="submit" class="btn btn-primary" value="Upload">
            </form>
        </div>

        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>File Name</th>
                        <th>Version</th>
                        <th>File Size</th>
                        <th>Created Time</th>
                        <th>Download</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#files}}
                        <tr>
                            <th scope="row">{{ id }}</th>
                            <td>{{ name }}</td>
                            <td>{{ version }}</td>
                            <td>{{ fileSize }}</td>
                            <td>{{ createdDateTime }}</td>
                            <td>{{ numberOfDownload }}</td>
                            <td class="col-action">
                                <a href="/download?fileId={{ id }}">
                                    <button type="button" class="btn btn-light">Download</button>
                                </a>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    {{/files}}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            {{!-- <p>Page {{pageNumber}} of {{totalPages}}</p> --}}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>